* {
  padding: 0;
  margin: 0;
}

body{
  padding: 20px;
}

#calculator-container {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 150px;
  gap: 10px;
  border-radius: 15px;
}